<div class="col shadow-lg p-10 bg-white text-center">
  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Log in with Google", omniauth_authorize_path(resource_name, provider), class: "btn btn-danger btn-lg btn-primary" %>
    <% end %>
  <% end %>
</div>
